body {
  background-color: green;
}
li {
  font-style: italic;
}
 #workspace{
  display: flex;
  justify-content: center;

}
#navgation {
  background-color: skyblue;
}
#navgation > ul {
  list-style: none;
  }
#navgation > ul > li {
  display: inline;
}
#navgation a{
color: white;
}
#navgation > ul ul {
  position: fixed;
  list-style: none;
  display: none;
  top: 30px;
}
#navgation > ul ul:hover {
  display: block;
}
#navgation a:hover + ul {
  background-color: hotpink;
  display: block;
}
#header {
  background-color: white;
  margin: auto;
}
#content{

}
#content p:nth-child(2n+1) {
  background-color: lime;
}
#content p:nth-child(2n) {
  background-color: pink;
}
#footer{

}
