body {
  background-color: purple;
}
h1 {
  font-family: cursive;
}
h2 {
  color: pink;
  font-family: cursive;
}
#header {
  border-color: pink;
  color: silver;
}
.title {
  font-family: cursive;
}
.primary {
  color:
}
.secondary {
  color:
}
