body {
  background-color: #CB7FB2;
  margin: 0;
  color: 7FC1CB;

}
h1 {
  color: #DB327B;
  font-size: 70px;
  font-family: 'Love Ya Like A Sister', cursive;
}
h2 {
  color: #621C46;
  font-size: 50px;
font-family: 'Love Ya Like A Sister', cursive;
}
ul {
  border: ;
  margin: 0 32px;
  padding: 25px 25px 25px 40px;
  list-style: none;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #621C46;
}
li {
  padding: 5px;
  margin: 5px;
}
p {
  color:#DB327B;
}
img {
  display: block;
  width: 80%;
  margin: 20px auto;
  max-width: 350px;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 750px;
}
.title {
  font-family: cursive;
}
.primary {
  color:
}
.secondary {
  color:
}
#navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: ;
  padding: 5 15px;
}
#navigation ul {
  display: flex:
  list-style: none;
  padding: 8px
  justify-content:space-between;
}


#navigation a {
  color: ;
}
#header {
  border-color: ;
  color: ;
}
#content {
  margin: 20px;
  padding: 20px;
}

#footer {
  width: 100vw;
}
